*.aux
*.out
*.log
.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints/
Untitled.ipynb
.vscode/
*.vscodeLog
vcs.xml
Project_Default.xml
misc.xml
modules.xml
*.iml
workspace.xml
profiles_settings.xml
.idea
*.r
*.bbl
*.bcf
*.blg
*.m~
*.synctex.gz
*.fls
*.fdb_latexmk
*.synctex*
*.run.xml
*.cpython-36.pyc
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.env
__pycache__
cosc528/Projects/Project01/cs528project1/.env
cosc528/Projects/Project01/cs528project1/data/raw/auto-mpg.data

# This is a compiled file, don't need to track
ne583/Test/test02/test02.class
Problem?.class
